@import "styles/color";

.statistics-modal {
  z-index: 200000000;

  h2 {
    text-align: center;
    font-size: 20px;
  }

  .reset-btn {
    &:focus {
      outline: 0;
    }
  }

  .modal-body {
    margin-top: -10px;
    padding-top: 0;

    section {
      margin-bottom: 20px;
    }

    .summary {
      display: flex;
      justify-content: center;

      .summary-item {
        display: flex;
        flex-direction: column;
        padding: 0 6px;
        text-align: center;

        .value {
          font-size: 36px;
          font-weight: 500;
          line-height: 1;
        }

        .title {
          font-size: 12px;
        }
      }
    }

    .guess-distribution {
      padding: 0 60px;

      .guess-distribution-item {
        display: flex;
        align-items: center;

        span {
          margin-right: 4px;
          width: 14px;
        }

        .progress {
          flex: 1;
          height: 20px;
          background-color: transparent;
          border-radius: 0;

          &.last {
            .progress-bar {
              background-color: $tile-green-color;
            }
          }

          .progress-bar {
            background-color: $tile-gray-color;
            text-align: right;
            padding: 10px;
            font-weight: bold;
          }
        }
      }
    }

    .bottom {
      display: flex;

      > div {
        flex: 1;
      }

      .next-time {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
      }

      .share-btn {
        background-color: $tile-green-color;
        border: 0;
        font-weight: bold;
      }
    }
  }
}

.darkmode {
  .statistics-modal {
    .modal-body {
      .MuiSvgIcon-root {
        color: white;
      }

      .guess-distribution {
        .guess-distribution-item {
          .progress {
            &.last {
              .progress-bar {
                background-color: $dark-tile-green-color;
              }
            }

            .progress-bar {
              background-color: $dark-tile-gray-color;
            }
          }
        }
      }

      .bottom {
        .share-btn {
          background-color: $dark-tile-green-color;
        }
      }
    }
  }
}

.contrast {
  .statistics-modal {
    .modal-body {
      .guess-distribution {
        .guess-distribution-item {
          .progress {
            &.last {
              .progress-bar {
                background-color: $contrast-tile-green-color;
              }
            }
          }
        }
      }

      .bottom {
        .share-btn {
          background-color: $contrast-tile-green-color;
        }
      }
    }
  }
}
