$border-color: #dee2e6;
$tile-letter-border-color: #878a8c;
$tile-empty-border-color: #d3d6da;
$key-bg-color: #d3d6da;
$tile-green-color: #6aaa64;
$tile-yellow-color: #c9b458;
$tile-gray-color: #787c7e;

// dark
$dark-border-color: #3a3a3c;
$dark-tile-letter-border-color: #565758;
$dark-tile-empty-border-color: #3a3a3c;
$dark-key-bg-color: #818384;
$dark-tile-green-color: #538d4e;
$dark-tile-yellow-color: #b59f3b;
$dark-tile-gray-color: #3a3a3c;

// contrast
$contrast-tile-green-color: #f5793a;
$contrast-tile-yellow-color: #85c0f9;
