@import "./../color";

.help-modal {
  .modal-body {
    margin-top: -10px;
    padding-top: 0;

    section {
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
    }

    .examples {
      .items {
        margin-bottom: 2px;
        display: flex;

        .item {
          width: 40px;
          height: 40px;
          margin: 2px;
          font-weight: 900;
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;

          &.letter {
            border: 2px solid $tile-border-color;
            animation: ani 0.2s;
          }

          &.jump {
            animation: jump 1s ease-in-out !important;
          }

          &.s,
          &.b,
          &.o {
            color: white;
            border: 0;
            animation: rotate 0.3s;
            animation-delay: 0.5s;
          }

          &.s {
            background-color: $tile-green-color;
          }

          &.b {
            background-color: $tile-yellow-color;
          }

          &.o {
            background-color: $tile-gray-color;
          }
        }
      }
    }
  }
}

.help-modal.darkmode {
  .modal-body {
    .examples {
      .items {
        .item {
          &.letter {
            border: 2px solid $dark-tile-border-color;
          }

          &.s {
            background-color: $dark-tile-green-color;
          }

          &.b {
            background-color: $dark-tile-yellow-color;
          }

          &.o {
            background-color: $dark-tile-gray-color;
          }
        }
      }
    }
  }
}
