.toast-layer {
  &.toast-layer-1 {
    z-index: 100000000;
  }

  &.toast-layer-2 {
    z-index: 300000000;
  }

  top: 120px !important;

  &.top-0 {
    top: 120px !important;
  }

  .toast {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
}

.darkmode {
  .toast-container {
    .toast {
      background-color: white;
      color: black;
    }
  }
}
