@import "styles/color";

.game-header {
  display: flex;
  margin-left: -15px;
  padding-left: 15px;
  margin-right: -15px;
  padding-right: 15px;

  h1 {
    font-weight: bold;
    font-size: calc(1.375rem + 1.5vw);
  }

  svg {
    color: #878a8c;
  }

  button {
    border: 0;
    background-color: transparent;

    &:focus {
      outline: 0;
    }
  }

  &-menu {
    display: flex;
    justify-content: start;

    span {
      opacity: 0.5;
    }

    a {
      cursor: pointer;
      color: #212529;
      text-decoration: none;

      &:hover {
        color: #212529;
        font-weight: bold;
      }
    }
  }
}

.darkmode {
  .game-header-menu {
    a {
      color: white;

      &:hover {
        color: white;
      }

      &:first-child {
        border-right: 1px solid $dark-border-color;
      }
    }
  }
}
