.game {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .toast-header {
    border-radius: 6px;
    border: 0;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-size: 16px;

    .close {
      color: white;
      text-shadow: none;
      opacity: 0.7;
    }
  }
}

.darkmode {
  .game {
    .toast-header {
      background-color: white;
      color: black;

      .close {
        color: black;
      }
    }
  }
}
