@import "~bootstrap/scss/bootstrap";
@import "styles/color";

body {
  color: #212529;
}

body.darkmode {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  font-family: "Titillium Web", "Noto Sans KR", sans-serif;

  .mobile-container {
    padding: 0 15px;

    @include media-breakpoint-up(sm) {
      width: 500px;
      min-height: 100vh;
      margin: 0 auto;
    }
  }

  .toast {
    top: 130px !important;
  }
}

// common
.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: $tile-green-color;
  border-color: $tile-green-color;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: $tile-green-color;
  border-color: $tile-green-color;
  opacity: 0.9;
}

.text-left {
  text-align: left;
}

.word-break-keep-all {
  word-break: keep-all;
}

.border-bottom {
  border-bottom: 1px solid $border-color !important;
}

.border-right {
  border-right: 1px solid $border-color !important;
}

.darkmode {
  .border-bottom {
    border-bottom: 1px solid $dark-border-color !important;
  }

  .border-right {
    border-right: 1px solid $dark-border-color !important;
  }
}

.modal {
  .close-btn {
    transform: scale(1.2);
    background-color: transparent;
    box-shadow: none;
    border: 0;
    margin-left: auto !important;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.darkmode {
  .modal {
    .close-btn {
      color: white;
    }

    .modal-content {
      background-color: #121213;
      border: 1px solid #1a1a1b;
      color: white;

      .btn-close {
        background-color: white;
      }
    }

    .modal-footer {
      border-top: 1px solid $dark-border-color;
    }
  }
}

.modal.fullsize {
  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;

    .modal-content {
      min-height: 100vh;
      border: 0;
    }
  }
}

.fullsize.modal-backdrop {
  background-color: white !important;
  opacity: 1;
}

.darkmode {
  .fullsize.modal-backdrop {
    background-color: #121213 !important;
    opacity: 1;
  }
}
