@import "color";

.game-keyboard {
  .game-keyboard-row {
    display: flex;
    justify-content: center;

    .tile {
      flex: 1;
      height: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3px;
      background-color: $key-bg-color;
      border-radius: 4px;
      border: 0;
      font-weight: bold;

      @media (max-width: 500px) {
        font-size: 14px;
        height: 46px;
      }

      @media (max-width: 320px) {
        font-size: 14px;
        height: 40px;
      }
    }

    div.item {
      cursor: pointer;
    }
  }
}

.darkmode {
  .game-keyboard {
    .game-keyboard-row {
      .tile {
        background-color: $dark-key-bg-color;
      }
    }
  }
}
